<!doctype html>
<html lang="en">

<%= partial "partials/head" %>

<body class="<%= page_classes %> <%= current_page.data.slug %>">

  <%= partial "partials/nav" %>

  <main class="layout--padding-bottom">
    <%= yield %>
  </main>
  <footer>
    <%= partial "partials/footer" %>
  </footer>

  <% if build? %>
    <%= partial "partials/ga" %>
  <% end %>

	</body>
</html>
