<nav class="primary-nav">
  <%# Meedan Logo %>
  <%= partial "partials/image", :locals => {
      :type => "png",
      :name => "credco-medium",
      :url  => "/",
      :path => "logos"
    }
  %>

  <%# Pages navigation %>
  <ul class="pages">
    <li class="about">
      <%= link_to "About", "./about" %>
    </li>

    <li class="vocabularies">
      <%= link_to "Vocabularies", "./vocabularies" %>
    </li>

    <li class="process">
      <%= link_to "Process", "./process" %>
    </li>

    <li class="data">
      <%= link_to "Data", "./data" %>
    </li>

  </ul>
</nav>
