<nav class="primary-nav">
  <%# Logo %>
  <%= link_to image_tag("logos/credco-medium@2x.png", :height => "32px"), "/index.html", :class => "credco-medium", :alt => "CredCo" %>

  <%# Pages navigation %>
  <ul class="pages">
    <li class="about">
      <%= link_to "About", "about" %>
    </li>

    <li class="approach">
      <%= link_to "Approach", "approach" %>
    </li>

    <li class="definitions">
      <%= link_to "Definitions", "definitions" %>
    </li>
    
    <li class="results">
      <%= link_to "Results", "results" %>
    </li>

  </ul>
</nav>
