---
layout: "default"
slug: "about"
---

<section>
    <div class="section-inner">
        <h1>About</h1>
        <h4>We are a diverse, interdisciplinary community committed to improving our information ecosystems and media literacy through transparent and collaborative exploration.</h4>
    </div>
</section>

<section>
  <div class="section-inner">

    <p>The proliferation of misinformation in online news and its amplification by automated feeds and social media are a growing concern.</p>

    <p>Many solutions are being attempted, but the misinformation problem is so large that any single effort can only provide partial alleviation. Tackling it successfully will require a holistic approach, with reputation systems, fact-checking, media literacy, revenue models, and public feedback all helping to address the health of the information ecosystem.</p>

    <h2>Our Efforts</h2>
    <p>Together, as a coalition, we are interested in complementing these efforts by defining the factors that lead to credibility assessments or that make information reliable. </p>
    
    <p>Rather than jointly deciding whether an article is “credible” or “not credible” or endorsing any single index or evaluation of credibility, the Credibility Coalition fosters the development of a framework around which credibility can be discussed and interpreted. Our goal is to provide a range of indicators that can be used by a person — or a system — to gauge if an article can inform or educate that person (or whoever the audience is likely to be).</p> 
        
    <p> If solutions — especially scalable ones — are possible, they will require organized cooperation through <%= link_to 'shared vocabularies', '/definitions.html' %> for understanding the nature of credible content. Our contribution will be an iterative, evolving and transparent process by diverse research projects using different tools to test hypotheses about information quality.</p>

    <p>Solutions will also require continual assessments about the risks of censorship and gamified knowledge systems: risks that are already present in our current ecosystem and that demand thoughtful, knowledgable approaches.</p>
    
    <h2>Our History</h2>

    <p>The Credibility Coalition is an initiative co-founded by Meedan and Hacks/Hackers. We were incubated at the first <a href="https://misinfocon.com/">MisinfoCon</a> in early 2017 and grew under a <a href="https://knightfoundation.org/press/releases/knight-prototype-fund-awards-1-million-to-20-projects-to-improve-the-flow-of-accurate-information">Knight Prototype Fund Grant</A> focused on improving the flow of accurate information.</p>

    <p>We have presented our initiative in a number of international venues to gain feedback and partners; recent examples include the <a data-proofer-ignore href="https://mozillafestival.org/">Mozilla Festival 2017</a>, the <a href="https://iptc.org/events/autumn-meeting-2017/">International Press Telecommunications Council Autumn 2017 Meeting</a>, and <a href="http://mediax.stanford.edu/events/knight-commission-on-trust-media-and-democracy">The Knight Commission on Trust, Media and Democracy</a>.</p>

    <p>In March 2018 we <a href="https://misinfocon.com/whats-next-for-the-credibility-coalition-554d0588f2bf">announced the support</a> of Google News Lab, the Facebook Journalism Project, Craig Newmark Philanthropies and additional private donors.</p>

    <div class="fancy-image-wrapper layout--padding-top">
        <div class="fancy-image fancy-image-2"></div>
    </div>

    <p class="caption">The Credibility Coalition was born during a late night creative studio session at MisinfoCon, hosted at the Media MIT Lab.
    </p>
  </div>
</section>

<section>
  <div class="section-inner">
    <h3 class="layout--padding-bottom">Press Releases and Mentions</h3>
    <div class="timeline">

     <li>
       <h4 class="date">2018 March 20</h4>
       <p class="title"><a href="https://misinfocon.com/whats-next-for-the-credibility-coalition-554d0588f2bf">What’s Next for the Credibility Coalition</a></p>
       <p class="attribution">Meedan, misinfocon.com</p>
     </li>
      
     <li>
       <h4 class="date">2018 March 20</h4>
       <p class="title"><a href="https://www.blog.google/topics/google-news-initiative/elevating-quality-journalism/">Elevating quality journalism on the open web</a></p>
       <p class="attribution">Richard Gingras, Google News Initiative</p>
     </li>

      <li>
        <h4 class="date">2018 March 7</h4>
        <p class="title"><a href="https://www.newsrewired.com/2018/03/07/how-the-credibility-coalition-determines-trust-indicators/">How The Credibility Coalition Determines Trust Indicators</a></p>
        <p class="attribution">Kristiyan Stefanov, Journalism.co.uk</p>
      </li>
      
       <li>
        <h4 class="date">2018 February 21</h4>
        <p class="title"><a href="https://datasociety.net/output/dead-reckoning/">Dead Reckoning: Navigating Content Moderation After "Fake News"</a></p>
        <p class="attribution">Robyn Caplan, Lauren Hansen, and Joan Donovan, Data &amp; Society</p>
      </li>

      <li>
        <h4 class="date">2018 January 16</h4>
        <p class="title"><a href="https://www.aspeninstitute.org/programs/communications-and-society-program/recap-palo-alto-ca-forum/">Recap: Palo Alto, CA Forum, Knight Commission on Trust, Media and Democracy
Stanford University, January 16, 2018</a></p>
        <p class="attribution">Richard Adler, The Aspen Institute</p>
      </li>

      <li>
        <h4 class="date">2017 October 30</h4>
        <p class="title"><a href="https://www.journalism.co.uk/news/the-credibility-coalition-is-working-to-establish-the-common-elements-of-trustworthy-articles/s2/a712487/">The Credibility Coalition is working to establish the common elements of trustworthy articles</a></p>
        <p class="attribution">Catalina Albeanu, Journalism.co.uk</p>
      </li>

      <li>
        <h4 class="date">2017 September 27</h4>
        <p class="title"><a href="https://rm.coe.int/information-disorder-report-november-2017/1680764666">Information Disorder: Toward an interdisciplinary framework for research and policy making</a></p>
        <p class="attribution">Clare Wardle and Hossein Derakhshan, Report for the Council of Europe</p>
      </li>
      
      <li>
        <h4 class="date">2017 June 22</h4>
        <p class="title"><a href="https://misinfocon.com/knight-prototype-fund-supports-the-credibility-working-group-c3dcc6667569">Knight Prototype Fund Supports the Credibility Working Group</a></p>
        <p class="attribution">An Xiao Mina, misinfocon.com</p>
      </li>

      <li>
        <h4 class="date">2017 March 3</h4>
        <p class="title"><a href="https://misinfocon.com/building-technical-standards-for-credibility-59ef9ee4ab73">Building Technical Standards for Credibility</a></p>
        <p class="attribution">An Xiao Mina, misinfocon.com</p>
      </li>

    </div>
  </div>
</section>

<section class="layout--padding-bottom">
  <div class="section-inner">
    <h2>Join us!</h2>
    <p>We value a diverse and inclusive membership and encourage broad participation. Our team of core and advisory members meet regularly online and offline to share findings and results. </p>

    <p>The core contributors of our working group including the following individuals and organizations: </p>
  
  <ul class="contributors layout--padding-top">
    <% data.credco_contributors.each do |contributor| %>
      <li>
        <a href="<%= contributor[:link] %>" title="<%= contributor[:organization] %>">
            <span class="name"><%= contributor[:name] %></span>
            <span class="organization"><%= contributor[:organization] %></span>
        </a>
      </li>
      <% end %>
  </ul>

 </div>
</section>
