---
layout: "default"
slug: "about"
---

<section>
    <div class="section-inner">
        <h1>About</h1>
        <h4>We are an interdisciplinary community committed to improving our information ecosystems and media literacy through transparent and collaborative exploration.</h4>
    </div>

    <div class="section-inner">
      <p>The proliferation of misinformation in online news and its amplification by automated feeds and social media are a growing concern.</p>

      <p>Many solutions are being attempted, but the misinformation problem is so large that any single effort can only provide partial alleviation. Tackling it successfully will require a holistic approach, with reputation systems, fact-checking, media literacy, revenue models, and public feedback all helping to address the health of the information ecosystem.</p>
    </div>
</section>
<section>
  <div class="section-inner">
    <h2>Collaborative exploration is key</h2>
    <p>Together, as a coalition, we are interested in complementing these efforts by establishing ways of engagement, or <em>frameworks</em>, that encourage interdisciplinarity and cooperation.  We think that this is key given the complicated nature of the problem.</p>
    <p>Rather than jointly deciding whether an article is “credible” or “not credible” or endorsing any single index or evaluation of credibility, the Credibility Coalition fosters the development of frameworks around which credibility that foster the generation of better standards, rigorous research, and thoughtful application around information quality. <%= link_to 'More about our frameworks can be found here', '/approach.html' %>.</p>

    <h2>Our driving questions</h2>
    <p>Our efforts are currently directed by three main questions.  Our energies are focused on how to:</p>
        <ul>
          <li><b>Assess</b>: Can we agree on the indicators for reliable information online?</li>
          <li><b>Scale</b>: Does assessment work at both small and large magnitudes? </li>
          <li><b>Apply</b>: How can the implementation of credibility standards effectively inform people?</li>
        </ul>
    </div>
</section>
<section>
  <div class="section-inner">
    <h2>Contacts</h2>
    <ul>
      <li>An Xiao Mina, Strategy Lead</li>
      <li>Connie Moon Sehat, Research Community Lead</li>
      <li>Dwight Knell, Program Lead</li>
    </ul>
  </div>
</section>
<section>
  <div class="section-inner">
    <h2>Our History</h2>

    <p>The Credibility Coalition is an initiative co-founded by Meedan and Hacks/Hackers. We were incubated at the first <a href="https://misinfocon.com/">MisinfoCon</a> in early 2017 and grew under a <a href="https://knightfoundation.org/press/releases/knight-prototype-fund-awards-1-million-to-20-projects-to-improve-the-flow-of-accurate-information">Knight Prototype Fund Grant</A> focused on improving the flow of accurate information.</p>

    <p>We have presented our initiative in a number of international venues to gain feedback and partners; recent examples include the <a data-proofer-ignore href="https://mozillafestival.org/">Mozilla Festival 2017</a>, the <a href="https://iptc.org/events/autumn-meeting-2017/">International Press Telecommunications Council Autumn 2017 Meeting</a>, and <a href="https://www.aspeninstitute.org/programs/communications-and-society-program/recap-palo-alto-ca-forum/">The Knight Commission on Trust, Media and Democracy</a>.</p>

    <p>In March 2018 we <a href="https://misinfocon.com/whats-next-for-the-credibility-coalition-554d0588f2bf">announced the support</a> of Google News Lab, the Facebook Journalism Project, Craig Newmark Philanthropies and additional private donors.</p>

    <div class="fancy-image-wrapper layout--padding-top">
        <div class="fancy-image fancy-image-2"></div>
    </div>

    <p class="caption">The Credibility Coalition was born during a late night creative studio session at MisinfoCon, hosted at the Media MIT Lab.
    </p>
  </div>
</section>
<section class="layout--padding-bottom">
  <div class="section-inner">
    <h2>Join us!</h2>
    <p>We value a diverse and inclusive membership and encourage broad participation. We especially invite individuals from historically underrepresented communities in technology and journalism to join our efforts, including women, people of color, people with disabilities and those who identify as LGBTQ.</p>

    <p>Founding members of the coalition include the following individuals: </p>

  <ul class="contributors layout--padding-top">
    <% data.credco_contributors.each do |contributor| %>
      <li>
        <a href="<%= contributor[:link] %>" title="<%= contributor[:organization] %>">
            <div class="image" style="background: url('/images/contributors/<%= contributor[:image] %>@2x.jpg') no-repeat; background-size: cover"></div>
            <span class="name"><%= contributor[:name] %></span>
            <span class="organization"><%= contributor[:organization] %></span>
        </a>
      </li>
      <% end %>
  </ul>

 </div>
</section>
