---
layout: "default"
slug: "approach"
---
<section>
  <div class="section-inner">
    <h1>Approach</h1>
    <h4>We work collaboratively and openly, developing frameworks that seek feedback from diverse experiences and expertise and share the results of our distributed tests and validations.</h4>
  </div>
</section>
<section>
  <div class="section-inner">

    <p><b><em>Frameworks</em></b> are structures, processes, and data that are necessary to enable the participation of organizations, experts, and non-experts in issues of information quality.</p>
     <div class="fancy-image-wrapper">
<img src="<%= image_path 'credco-framework.png' %>" alt="Overview of Credibility Coalition as framework" class="fade-in responsive" lt="credco framework">
    </div>
    <p class="caption">This workflow outlines our current path for assessing news for credibility, and contrasts the framework efforts of the Coalition as a whole (on the left) from the role of <em>interpretation</em> (on the right) by researchers, platforms, or automated systems &mdash; which may be carried out independently by Coalition members.</p>

    <p>Our frameworks &mdash; which aim to generate better standards, rigorous research, and thoughful application &mdash; are dynamic and under development all the time.</p>

    <h2>Indicators and Data</h2>
     <p>Recognizing the complexity of developing standards, the Credibility Coalition approaches them through rigorous research.</p>
     <p>We have three major outputs: (1) an annotation guide that can be used for future studies and that can inform larger studies for annotation, (2) a developing, licensed data set of findings, and (3) a vocabulary document developed with the W3C Credible Web Community Group. Recognizing that our information landscape is constantly changing, each of these outputs is regularly updated and developed.</p>

     <img src="<%= image_path 'CredCo-indicator-lifecycle.png' %>" alt="Lifecycle of Indicator development" class="fade-in responsive" lt="indicator lifecycle">
     <p class="caption">Lifecycle of indicator development (<a href="<%= image_path 'CredCo-indicator-lifecycle.png' %>">view larger image</a>)</p>

    <h2>Workshops</h2>
    <p>We conduct a number of workshops in conferences throughout the world in order to further collective thinking on information disorder.  People in attendance come from a variety of organizations representing government, research, advocacy, journalism, and academic groups, to share their thoughts and insights.</p>
    <p>Examples of our workshops include:
      <ul class="bulleted">
        <li><a href="https://misinfocon.com/closed-messaging-spaces-thinking-about-best-practices-and-ethics-in-a-global-environment-10fc82191743">Closed Messaging Spaces: Thinking About Best Practices and Ethics in a Global Environment</a></li>
        <li>Nutrition Labels for News? A Way To Think About Indicators and Data for Information Quality</li>
        <li>Memes, Images, and Misinformation</li>
      </ul>
      <div class="fancy-image-wrapper">
      <div class="fancy-image fancy-image-1"></div>
      </div>
       <p class="caption">(Clockwise from upper right) Patricia Martin, Joel Schlosser and Connie Moon Sehat discuss ideas during a breakout session at the 2017 New York working group meeting. Photo courtesy the Brown Institute.</p>

    <h2>Working Groups</h2>
    <p>Fostering productive discussion and exploration around the assessment of credibility is the heart of our research community, and working groups serve as the heart of its participatory structure. A working group fosters discussions among community members in ways that grapple around the central questions of the Credibility Coalition. These small working groups gather around themes that are inherently interdisciplinary. We look for ideas that basically demand people of different expertises and backgrounds to come together and foster creative brainstorming around an issue or question.</p>
    <p>Topics of our initial working groups include: <em>The UX of Credible Content, Health Misinformation, Do Indicators Translate (EN-ES)?, Economics of Misinformation</em></p>
    
    <h2>Microgrants</h2>
    <p>This new program launched in August 2018, with the goal of supporting independent research into the question: "Can we agree on scientific and systematic ways to assess reliable information, and whether they can be applied at scale?"  Awards will be announced in early October.</p>
       
    <h2>Strategic Mapping of Efforts ("MisinfoMap")</h2>
    <p>A map of information disorder efforts can foster interdisciplinary thinking — helping content creators think longer term, with those building infrastructure and facilitating connections between cutting edge research and robust practice.</p>
    <p>The map, with additional projects and efforts, has been further developed during <a href="https://misinfocon.com/our-toolkit-for-people-and-teams-tackling-misinformation-online-9e6d240f3136">a number of workshops</a>, including at the CUNY Graduate School of Journalism and with the W3C Credible Web Community Group.
                        <div class="fancy-image-wrapper">
     <img src="<%= image_path 'credco-misinfomap-stylized.jpg' %>" alt="MisinfoMap Efforts" class="fade-in responsive" lt="misinfomap">
          </div>
           <p class="caption">Stylized representation of the "MisinfoMap" AirTable effort (<a href="<%= image_path 'credco-misinfomap-stylized.jpg' %>">view larger image</a>)</p>

  </div>
</section>


