---
layout: default
slug: home
published: true
---

<section class="credibility-coalition__section">
  <div class="section-inner">
    <h1>News credibility is the challenge of our time.</h1>
    <p>Can we agree on scientific and systematic ways to assess reliable information, and whether they can be applied at scale? Our community-driven <%= link_to "approach", '/approach.html' %> explores this question through collaboratively-structured <%= link_to "definitions", '/definitions.html' %> and shared <%= link_to "results", '/results.html' %> from tests for content credibility.
    </p>
  </div>
</section>
<section class="home__recent-press">
  <div class="section-inner">
    <h3>RECENT MENTIONS</h3>
    <ul class="press layout--padding-bottom">
      <li class="press__gni">
        <p>
          "This summer, in partnership with the World Wide Web Consortium (W3C)’s newly created community group, the Credibility Coalition will explore new approaches to analyze and assess the credibility of information online.”
        </p>
        <p class="attribution">
        – <%= link_to "Google News Initiative", "https://www.blog.google/topics/google-news-initiative/elevating-quality-journalism/" %>
        </p>
      </li>

      <li class="press__journalismdotco">
        <p>
          “Through workshops and research, the group identified a number of credibility indicators that help readers determine if a story is reliable …[analyzing] 16 common elements indicating reliability on 40 widely-shared public health and climate change stories.”
        </p>
        <p class="attribution">
          – <%= link_to "Journalism.co.uk", 'https://www.journalism.co.uk/news/the-credibility-coalition-receives-funding-from-google-facebook-and-craig-newmark-to-expand-its-work-assessing-trust-in-journalism/s2/a719243/' %>
        </p>
      </li>
      <li class="press__dataandsociety">
        <p>
          “Rather than build one stable definition that can be used to identify content, feature- or identifier-based approaches work from the ground up, using methods drawn from content analysis or social network analysis to identify potential features associated with ‘fake news,’ disinformation, and spam. ... Groups like the Credibility Coalition ... are using this approach.”
        </p>
        <p class="attribution">
          – <%= link_to "Data &amp; Society", 'https://datasociety.net/output/dead-reckoning/' %>
        </p>
      </li>
    </ul>
  </div>
</section>
<section class="credibility-coalition__logos">
  <div class="section-inner">
    
    <h3>Founders</h3> 
    <ul class="logos layout--padding-bottom">
      <% data.credco_logos.each do |image| %>
          <% if image.role == "founder" %>
            <li>
              <%= partial "partials/background_image", :locals => {
                  :type => image[:type],
                  :name => image[:name],
                  :url => image[:url],
                  :shape => image[:shape],
                  :path => "logos"
                } %>
            </li>
          <% end %>  
        <% end %>
    </ul>
</div>
</section>
<section class="credibility-coalition__logos">
<div class="section-inner">
    <h3>Partner organizations</h3> 
    <ul class="logos layout--padding-bottom">
      <% data.credco_logos.each do |image| %>
          <% if image.role == "partner" %>
            <li>
              <%= partial "partials/background_image", :locals => {
                  :type => image[:type],
                  :name => image[:name],
                  :url => image[:url],
                  :shape => image[:shape],
                  :path => "logos"
                } %>
            </li>
          <% end %>
        <% end %>
    </ul>
</div>
</section>
<section class="credibility-coalition__logos">
<div class="section-inner">
    <h3>Funding support</h3> 

    <p>The Credibility Coalition, formerly known as the Credibility Indicators Working Group, has received generous support from:</p>
    <ul class="logos layout--padding-bottom">
      <% data.credco_logos.each do |image| %>
          <% if image.role == "funder" %>
            <li>
              <%= partial "partials/background_image", :locals => {
                  :type => image[:type],
                  :name => image[:name],
                  :url => image[:url],
                  :shape => image[:shape],
                  :path => "logos"
                } %>
            </li>
          <% end %>  
        <% end %>
    </ul>

  </div>
</section>

<div class="credibility-coalition__section">
  <div class="section-inner">
   <p>We are proud recipients of a <a href="https://knightfoundation.org/challenges/knight-prototype-fund">2017 Knight Prototype Fund grant</a>.</p>
  </div>
</div> 

