---
layout: "default"
slug: "home"
---
<div class="credibility-coalition__section layout--padding-top">
  <div class="section-inner">
    <h1>News credibility is the challenge of our time.</h1>
    <p>Can we agree on scientific and systematic ways to assess reliable information, and whether they can be applied at scale?</p>
    <p> Our community-driven <a href="">approach</a> is trying to find out through collaboratively structured <a href="">definitions</a> and shared <a href="">results</a> from content tests for credibility.
    </p>
  </div>
</div>
<section class="home__recent-press">
  <div class="section-inner">
    <h3>RECENT MENTIONS</h3>
    <ul class="blurbs layout--padding-bottom">
      <li class="blurb__journalismdotco">
        <a href="https://www.journalism.co.uk/news/the-credibility-coalition-is-working-to-establish-the-common-elements-of-trustworthy-articles/s2/a712487/">
      <img 
        class="logo" 
        src="<%= image_path 'logos/journalismdotco@2x.jpg' %>" 
        alt="Journalism.co.uk logo" 
        srcset="<%= image_path 'logos/journalismdotco@2x.jpg' %> 2x">
      <p>
          “As many independent projects are now working on fighting misinformation and analysing trust, a common framework is needed.”
      </p>
    </a>
      </li>
      <li class="blurb__councilofeurope">
        <a href="https://rm.coe.int/information-disorder-report-november-2017/1680764666">
      <img src="https://placehold.it/200x100" >
      <!-- Need COE Logo -->
      <!-- <img
        class="logo"
        src="<%= image_path 'logos/coe@1x.jpg' %>"
        alt="need COE Logo"
        srcset="<%= image_path 'logos/coe@2x.jpg' %> 2x"> -->
    </a>
      <p>
        “...to see if there can be a programmatic way for social networks use their scores to influence algorithmic rankings..”
      </p>
      </li>
      <li class="blurb__aspeninstitute">
        <a href="https://www.aspeninstitute.org/programs/communications-and-society-program/recap-palo-alto-ca-forum/">

    <img src="https://placehold.it/200x100" >
      <!-- Need Aspen Logo -->
      <!-- <img
        class="logo"
        src="<%= image_path 'logos/Aspen@1x.jpg' %>"
        alt="need Aspen Logo"
        srcset="<%= image_path 'logos/Aspen@2x.jpg' %> 2x"> -->
    </a>
      <p>
          “The Credibility Coalition is a diverse grassroots group of volunteers whose goals are to identify a set of credibility indicators and use cases; build cooperation around a data model; and generate and use testing data to improve the model.”
      </p>
      </li>
      <li class="blurb__dataandsociety">
        <a href="https://datasociety.net/output/dead-reckoning/">
         <img src="https://placehold.it/200x100" >

         <!-- Need D&S Logo -->
        <p>
       </a>
      "Rather than build one stable definition that can be used to identify content, feature- or identifier-based approaches [like the Credibilty Coalition] work from the ground up, using methods drawn from content analysis or social network analysis to identify potential features associated with 'fake news,' disinformation, and spam."
        </p>  
      </li>
    </ul>
  </div>
</section>
<div class="credibility-coalition__logos layout--padding-bottom">
  <div class="section-inner">
    <p><b>An initiative co-founded by Meedan and Hacks/Hackers.</b> The Credibility Coalition, formerly known as the Credibility Indicators Working Group, has received generous support from:</p>
    <ul class="logos">
      <% data.credco_logos.each do |image| %>
        <li>
          <%= partial "partials/image", :locals => {
              :type => image[:type],
              :name => image[:name],
              :url => image[:url],
              :path => "logos"
            } %>
        </li>
        <% end %>
    </ul>
  </div>
</div>
<div class="credibility-coalition__section  layout--padding-bottom">
  <div class="section-inner">
    <p>We are proud recipients of a <a href="https://knightfoundation.org/challenges/knight-prototype-fund">Knight Prototype Fund grant</a>.</p>
  </div>
</div>
<section class="contact colors--inverted">
  <div class="section-inner">
    <h3>Contact Us</h3>
    <div class="contact__write">
      <p><a class="button" href="mailto:hello@credibiltycoalition.org">hello@credibiltycoalition.org</a></p>
    </div>
