---
layout: default
slug: home
published: true
---

<div class="credibility-coalition__section layout--padding-top">
  <div class="section-inner">
    <h1>News credibility is the challenge of our time.</h1>
    <p>Can we agree on scientific and systematic ways to assess reliable information, and whether they can be applied at scale? Our community-driven <%= link_to "approach", '/approach.html' %> explores this question through collaboratively-structured <%= link_to "definitions", '/definitions.html' %> and shared <%= link_to "results", '/results.html' %> from tests for content credibility.
    </p>
  </div>
</div>
<section class="home__recent-press layout--padding-bottom">
  <div class="section-inner">
    <h3>RECENT MENTIONS</h3>
    <ul class="press layout--padding-bottom">
      <li class="press__journalismdotco">
        <a href="https://www.journalism.co.uk/news/the-credibility-coalition-is-working-to-establish-the-common-elements-of-trustworthy-articles/s2/a712487/">
    </a>
        <p>
          “The Credibility Coalition is working to establish the common elements of trustworthy articles. As many independent projects are now working on fighting misinformation and analysing trust, a common framework is needed.”
        </p>
        <p class="attribution">
          – <%= link_to "Journalism.co.uk", 'https://www.journalism.co.uk/news/the-credibility-coalition-is-working-to-establish-the-common-elements-of-trustworthy-articles/s2/a712487/' %>
        </p>
      </li>
      <li class="press__dataandsociety">
        <p>
          “Rather than build one stable definition that can be used to identify content, feature- or identifier-based approaches work from the groundup, using methods drawn from content analysis or social network analysis to identify potential features associated with “fake news,” disinformation, and spam....Groups like the Credibility Coalition (formerly Credibility Working Group), which emerged out of MisInfoCon 2017, are using this approach.”
        </p>
        <p class="attribution">
          – <%= link_to "Data &amp; Society", 'https://datasociety.net/output/dead-reckoning/' %>
        </p>
      </li>
    </ul>
  </div>
</section>
<div class="credibility-coalition__logos layout--padding-bottom">
  <div class="section-inner">
    
    <h3>Founders</h3> 
    <ul class="logos layout--padding-bottom">
      <% data.credco_logos.each do |image| %>
          <% if image.role == "founder" %>
            <li>
              <%= partial "partials/image", :locals => {
                  :type => image[:type],
                  :name => image[:name],
                  :url => image[:url],
                  :shape => image[:shape],
                  :path => "logos"
                } %>
            </li>
          <% end %>  
        <% end %>
    </ul>

    <h3>Funding support</h3> 

    <p>The Credibility Coalition, formerly known as the Credibility Indicators Working Group, has received generous support from:</p>
    <ul class="logos layout--padding-bottom">
      <% data.credco_logos.each do |image| %>
          <% if image.role == "funder" %>
            <li>
              <%= partial "partials/image", :locals => {
                  :type => image[:type],
                  :name => image[:name],
                  :url => image[:url],
                  :shape => image[:shape],
                  :path => "logos"
                } %>
            </li>
          <% end %>  
        <% end %>
    </ul>

  </div>
</div>
<div class="credibility-coalition__section">
  <div class="section-inner">
    <p class="layout--padding-top">We are proud recipients of a <a href="https://knightfoundation.org/challenges/knight-prototype-fund">Knight Prototype Fund grant</a>.</p>
  </div>
</div>
