---
layout: default
slug: home
published: true
---

<section class="credibility-coalition__section">
  <div class="section-inner">
    <h1>News credibility is the challenge of our time.</h1>
    <p>Can we agree on scientific and systematic ways to assess reliable information, and whether they can be applied at scale? Our community-driven <%= link_to "approach", '/approach.html' %> explores this question through collaboratively-structured <%= link_to "definitions", '/definitions.html' %> and shared <%= link_to "results", '/results.html' %> from tests for content credibility.
    </p>
  </div>
</section>
<section class="home__recent-press">
  <div class="section-inner">
    <h3>RECENT MENTIONS</h3>
    <ul class="press layout--padding-bottom">
      <li class="press__gni">
        <p>
          The Google News Initiative has announced they are partnering with the Credibility Coalition “to drive the development of technical markers that can enable third party assessments of online content. This summer, in partnership with the World Wide Web Consortium (W3C)’s newly created community group, the Credibility Coalition will explore new approaches to analyze and assess the credibility of information online.”
        </p>
        <p class="attribution">
        – <%= link_to "Google News Initiative", "https://www.blog.google/topics/google-news-initiative/elevating-quality-journalism/" %>
        </p>
      </li>

      <li class="press__journalismdotco">
        <p>
          “The Credibility Coalition is working to establish the common elements of trustworthy articles. As many independent projects are now working on fighting misinformation and analysing trust, a common framework is needed.”
        </p>
        <p class="attribution">
          – <%= link_to "Journalism.co.uk", 'https://www.journalism.co.uk/news/the-credibility-coalition-is-working-to-establish-the-common-elements-of-trustworthy-articles/s2/a712487/' %>
        </p>
      </li>
      <li class="press__dataandsociety">
        <p>
          “Rather than build one stable definition that can be used to identify content, feature- or identifier-based approaches work from the ground up, using methods drawn from content analysis or social network analysis to identify potential features associated with &lsquo;fake news,&rsquo; disinformation, and spam. ... Groups like the Credibility Coalition (formerly Credibility Working Group), which emerged out of MisInfoCon 2017, are using this approach.”
        </p>
        <p class="attribution">
          – <%= link_to "Data &amp; Society", 'https://datasociety.net/output/dead-reckoning/' %>
        </p>
      </li>
    </ul>
  </div>
</section>
<section class="credibility-coalition__logos">
  <div class="section-inner">
    
    <h3>Founders</h3> 
    <ul class="logos layout--padding-bottom">
      <% data.credco_logos.each do |image| %>
          <% if image.role == "founder" %>
            <li>
              <%= partial "partials/image", :locals => {
                  :type => image[:type],
                  :name => image[:name],
                  :url => image[:url],
                  :shape => image[:shape],
                  :path => "logos"
                } %>
            </li>
          <% end %>  
        <% end %>
    </ul>

    <h3>Funding support</h3> 

    <p>The Credibility Coalition, formerly known as the Credibility Indicators Working Group, has received generous support from:</p>
    <ul class="logos layout--padding-bottom">
      <% data.credco_logos.each do |image| %>
          <% if image.role == "funder" %>
            <li>
              <%= partial "partials/image", :locals => {
                  :type => image[:type],
                  :name => image[:name],
                  :url => image[:url],
                  :shape => image[:shape],
                  :path => "logos"
                } %>
            </li>
          <% end %>  
        <% end %>
    </ul>

  </div>
</section>
