---
layout: "default"
slug: "updates"
---

<section>
    <div class="section-inner">
        <h1>Updates</h1>
        <h4>Our team of core and advisory members meet regularly online and offline to share findings and results.</h4>
    </div>
</section>


<section class="layout--padding-bottom">
  <div class="section-inner">
    <h2>Join us!</h2>
    <p>We value a diverse and inclusive membership and encourage broad participation. We especially encourage individuals from historically underrepresented communities in technology to join our efforts, including women, people of color, people with disabilities and those who identify as LGBTQ.</p>

    <p>The core contributors of our working group including the following individuals and organizations: </p>
  
  <ul class="contributors layout--padding-top">
    <% data.credco_contributors.each do |contributor| %>
      <li>
        <a href="<%= contributor[:link] %>" title="<%= contributor[:organization] %>">
            <%= partial "partials/image", :locals => {
                :type => "jpg",
                :name => contributor[:image],
                :path => "contributors"
              } %>
            <span class="name"><%= contributor[:name] %></span>
            <span class="organization"><%= contributor[:organization] %></span>
        </a>
      </li>
      <% end %>
  </ul>

 </div>
</section>


<section>
  <div class="section-inner">
    <h3 class="layout--padding-bottom">Mentions</h3>
    <ul class="timeline">

      <% data.timeline_press_mentions.each do |item| %>
        <li>
          <%= partial "partials/timeline_entry", :locals => {
              :link => item[:link],
              :title => item[:title],
              :date => item[:date],
              :attribution => item[:attribution],
            } %>
        </li>
      <% end %>      
    </ul>
  </div>
</section>


<section>
  <div class="section-inner">
    <h3 class="layout--padding-bottom">Updates</h3>
    <ul class="timeline">
      <% data.timeline_press_releases.each do |item| %>
        <li>
          <%= partial "partials/timeline_entry", :locals => {
              :link => item[:link],
              :title => item[:title],
              :date => item[:date],
              :attribution => item[:attribution],
            } %>
        </li>
      <% end %>
    </ul>
  </div>
</section>
